<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>django</h1>
    <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" id="" placeholder="Name">
        <input type="email" name="email" id="" placeholder="Email">
        <input type="text" name="department" id="" placeholder="Department">
        <input type="file" name="image" id="">
        <button type="submit">Add</button>
    </form>
    <br>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Edit</th>
            <th>Action</th>

        </tr>
        {% for s in stu %}
        <tr>
            <td>{{s.name}}</td>
            <td>{{s.email}}</td>
            <td>{{s.department}}</td>
            <td><img style='width: 50px' src="/{{s.image}}" alt=""></td>
            <td><a href="{% url 'editPage' s.id %}"><button type="button">Edit</button></a></td>
            <td><a href="{% url 'deletePage' s.id %}"><button type="button">Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>